body{
    background-color:white;
    color: black;
}
.mydark{
    background-color: black;
    /* color:white */
}
#coupon{
    height:500px;
    width:650px;
    /* border: solid 2px black; */
    position:absolute;
    z-index: 10;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 5%;
    /* display: none; */
}
#darklight{
    /* background-color: black; */
    /* color: black; */
    height: 65%;
    width: 122%;
    padding: 34%;
}
#closebutton{
    height: 50%;
    padding: 0px;
   border: none;
}
#coupon > img{
    height:500px;
    width:650px;
   
    border-radius: 5%;
}
.xmark{
    height: 150%;
    color: aliceblue;
}
#icon{
    height: 150%;
    color: white;
}
.top-right{
    position: absolute;
    top: 8px;
    right: 0px;

}
.header{
    background-color:#f2e9e9;
}
.Signin{
   display: inline-block; 
   width: 250px;
}
.dropdown-toggle::after {
    content: none;
}
.fsize{
    font-size: 13px;
}






.logoimg{
    height:50px
}
.alljewell{
    margin-left: 6.5%;
}
.stolocator{
    margin: 5%;
    width:100%;
    /* border :2px solid brown; */
    height:60px
}
.space{
   width:100%;
   /* border :2px solid brown; */
   margin: 0%;
   margin-top: 5%;
}
.mx-auto1{
    margin-left: 10%;
    height: 60px;
    margin-top:2% ;  
}
.home{
    margin-left: 5%;
    margin-top: 5%;
}
.jwelldesign{
    margin-left: -8%;
    margin-top: 3%;
    display: block;
}
.compare{
    width:50%;
    height:90px;
    /* border: solid 2px red; */
    position :absolute;
    margin-top: 22%;
   margin-left: 6%;
   display: block;
}
.btnsize{
    width: 180px;
    height: 48px;
    background-color: burlywood;
    font-size: 20px;
    border-radius: 10px;
    display: block;
}
.sortby{
    width:150px;
    height:90px;
    /* border: solid 2px red; */
    position :absolute;
    margin-top: 22%;
   margin-left: 76%;
   display: block;
   
}

.cardblock{
    width:95%;
    margin-left: 2.5%;
    
    /* border: 2px solid green; */
    display: inline-block;
    margin-top: 6%;

}
.ring{
   height: 300px;
   width: 300px;
   margin:5%;
   border-image: 2px solid black;
}
.card1{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
}
/* #caedsne{
    margin-left: 5%;
} */
#photoslider{
    width:100%;
    opacity: .5;
    display: inline-block;
    /* border: 3px solid rgb(128, 0, 49); */
}
#shopbyCategory{
    width:100%;
   display: inline-block;
    /* border: 3px solid rgb(128, 0, 49); */
    margin-top: 3%;

}
.sapceinbetween{
    margin-bottom: 0rem;
}
.categoryitems{
    width:85%;
    margin-left: 7.5%;
    display: inline-block;
     /* border: 3px solid rgb(128, 0, 49); */
}
.card1{
    margin-left:2.15%;
    float: left;
    width: 13rem;
}
.discountimg{
    width:86%;
    margin-left: 7%;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 2%;
    /* border: 3px solid rgb(128, 0, 49); */
}
.discount{
    height:250px;
    width: 0200%;
}
.shopbyCollection{
    width:100%;
    margin-top: 4%;
   display: inline-block;
    
}
.Bride{
    width:86%;
    margin-left: 7%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 2%;
}
.discount1{
    height:380px;
    width: 0200%;
   
}
.callbackblock{
    display: inline-block;
}
.callback{
    float: left;
    margin-left: 8%;
    margin-top: 50%;
}
.NewForYou{
    width:100%;
    margin-top: 8%;
    display: inline-block;
}
.TrendingProd{
    width:100%;
    margin-top: 4%;
    display: inline-block; 
}
.ring{
    height: 300px;
    width: 300px;
    margin:5%;
    border-image: 2px solid black;
 }
 .w-25 {
    width: 30%!important;
}
#Waver{
    width:86%;
    margin-left: 7%;
    /* height: 250px; */
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 2%;
    /* border: 3px solid rgb(128, 0, 49); */
}
.callback1{
    margin-left: 41%;
    margin-top: 23%;
}
.footer{
    width:100%;
    height: 300px;
    margin-top: 3%;
    /* border: 3px solid darkgoldenrod; */
}
a:link {
    text-decoration: none;
    font-size: 17px;
  }
.search{
    width:40%;
   display: inline-block;
     /* border: 3px solid darkgoldenrod; */
     margin-left: -2%;
}
.glass{
   height: 120%;
}
.dropdown{
    appearance: none;
}
a{
    color: #a54343 !important;
}
.footer1{
    background-color: rosybrown;
}
.card-body > p{
    color: #a54343;
    font-size: 17px;
}
.card-body > a{
    color: black !important;
    font-size: 14px;
}